$minwidth: 600px;
$colour1:rgb(51, 111, 151);
$colour2:rgb(57, 105, 136);
$colour3:rgb(230, 233, 233);

body{
	font-family: 'Lato', sans-serif;
	background-image: url(../images/1.png);
	background-size: 100%;
	background-repeat:no-repeat;
	background-color:$colour1;

}

.container{
	margin:0 auto;
	@media screen and (min-width:$minwidth){
		width:$minwidth;
	}
	background-color:rgba($colour3,0.9);
	padding:1em;
	border:0.5em solid $colour2;
}

h1{
	text-align:center;
	&:first-letter{
		color:$colour2;
	}
	color:lighten($colour1,20%);
}

.main{
	margin:0 auto;
}

.footer{
	margin:0 auto;
	text-align:center;
	a{
		padding:1em;
		background-color:$colour1;
		color:$colour3;
		text-decoration:none;
		border:0.5em solid $colour2;
		border-radius:0.5em;
		margin-top:1em;
		transition: all 0.2s;
		&:hover{
			color:$colour1;
			background-color:$colour3;
		}
		&:active{
			padding:1.5em;
		}
	}
}

#be{
    margin-bottom:1em;
}

.languagebox{
	margin:1em;
}

textarea {
    resize: none;
    width:100%;
    margin:auto;
    background-color:$colour1;
    color:$colour3;
}

label[for=select] {
	position: relative;
	bottom: 10px;
	margin-right: 10px;
}
