body {
  font-family: 'Lato', sans-serif;
  background-image: url(../images/1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #336f97; }

.container {
  margin: 0 auto;
  background-color: rgba(230, 233, 233, 0.9);
  padding: 1em;
  border: 0.5em solid #396988; }
  @media screen and (min-width: 600px) {
    .container {
      width: 600px; } }

h1 {
  text-align: center;
  color: #65a2cb; }
  h1:first-letter {
    color: #396988; }

.main {
  margin: 0 auto; }

.footer {
  margin: 0 auto;
  text-align: center; }
  .footer a {
    padding: 1em;
    background-color: #336f97;
    color: #e6e9e9;
    text-decoration: none;
    border: 0.5em solid #396988;
    border-radius: 0.5em;
    margin-top: 1em;
    transition: all 0.2s; }
    .footer a:hover {
      color: #336f97;
      background-color: #e6e9e9; }
    .footer a:active {
      padding: 1.5em; }

#be {
  margin-bottom: 1em; }

.languagebox {
  margin: 1em; }

textarea {
  resize: none;
  width: 100%;
  margin: auto;
  background-color: #336f97;
  color: #e6e9e9; }

label[for=select] {
  position: relative;
  bottom: 10px;
  margin-right: 10px; }
